body {
    margin: 0;
    padding: 0;
    text-align: justify;
    font-family: 'Lora', serif;
}

nav {
    text-align: right;
    font-family: 'Lora', serif;
    display: inline;
}

ul {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;
    font-size: 1.7rem;
}

li {
    display: inline;
    padding-right: 2%;
}

a {
    text-decoration: none;
    color: #52006A;
}

#card {
    border: 2px solid purple;
    border-top-right-radius: 30px;
    display: grid;
    grid-template-rows: 1fr 3fr;
    box-shadow: -6px -7px 5px rgb(255, 255, 255), 6px 7px 4px rgb(126, 118, 118);
}

@keyframes bounce {
    0% {
        transform: translateY(50px);
        transform: scaleX(1.2);
    }
    100% {
        transform: translateY(0);
    }
}

#heading {
    font-family: 'Fredericka the Great', cursive;
    font-size: 2.4rem;
    text-align: center;
    color: black;
    background-image: url("images/head.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 5% 2%;
    margin: 0 auto;
    /*background-image: linear-gradient(255, 34, 72);*/
}

h2 {
    font-size: 2.6rem;
    font-weight: 900;
}

#heading #content {
    background-color: rgba(255, 255, 255, 0.4);
    display: inline-block;
}

.navigation {
    background-color: white;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    margin: 0;
}
#course{
    background-color: rgb(228, 227, 227);
}
#courses {
   display: flex;
   flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 29px;
    padding: 4%;
    
}
.course-split{
   display: flex;;
   justify-content: space-evenly;
}

h5 {
    font-size: 1.5rem;
    margin-top: 2%;
}

#card p {
    margin: 2px auto;
}
#card{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 30%
}

.image-container{
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img{
    width: 100%;
    min-width: 50px;
    

}
.heading-container{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card .img {
    text-align: center;
    border-radius: 0px 29px 0;
    font-size: 2rem;
    color: rgb(46, 1, 1);
    /*background-image: linear-gradient(to right, rgb(253, 5, 5), rgb(139, 3, 250));*/
    background-color: #B088F9;
    display: flex;

}

#feedback{
    background-color: #fff;
    width:100%;
    height:auto;
    /* align-items: center; */
}

.container3{
    border: solid 2px #ccc;
    height:100%;
    width:90%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.right_sec{
    width:60%;
}


.right_sec >img{
    width:100%;
}

.left_sec{
    width:40%;
}
/* eedbackContainer .data{
    width:30%;
    padding:0.2rem 0;
    margin:1rem 0;
    margin-left: 2%;
    border: none;
    border-radius: .2rem;
    border-bottom: .2rem solid #888;
    font-size: 1.1rem;
    color:#444;
    text-transform: none;
    cursor:text;
}
.feedbackContainer .data2{
    margin-left: 2%;
    margin-top: 1rem;
}

.feedbackContainer .mygender{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.feedbackContainer .rating{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.feedbackContainer .mygender label{
    margin-left: 2%;
    color: #555;
}
.feedbackContainer .calendar label{
    margin-left: 2%;
    color: #555;
}
.feedbackContainer .syllabus label{
    margin-left: 2%;
    color: #555;
    margin-top: 1rem;
}
.feedbackContainer .rating input{
    margin-left: 2%;
    color: #555;
    margin-top: 5px;
}

.feedbackContainer .formDetails input:focus{
    outline:0;
}

.feedbackImage{
    text-align: center;
}

.feedbackImage img{
    border-radius: 10rem;
    width: 20%;
    margin-top: -5%;
}

.feedbackContainer form{
    padding: 4%;
    
}

.feedbackContainer form .row{
    margin-bottom: -3%;
    
}

.feedbackContainer form h2{
    margin-bottom: 7%;
    margin-top: -5%;
    text-align: center;
    color: #B088F9;
    font-size: 50px;
}

.feedbackContainer .btn{
    width: 20%;
    height: 5%;
    border: none;
    border-radius: 2rem;
    padding: 1.5%;
    margin-left: 2%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 15px;
    background: #777;
    color: #fff;
    cursor: pointer;
}

.feedbackContainer .row h2{
    margin-left: 2%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #777;
    font-size: 1rem;
    text-align: left;
} */

#contact {
    background-color: #B088F9;
    margin: 0;
    padding: 2% 7%;
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    font-size: 1.3rem;
}

#contact img {
    width: 1.9rem;
    /*background-image: linear-gradient(rgb(214, 185, 219), rgb(198, 138, 199), rgb(179, 179, 228));*/
}

#content > h3{
    text-align: center;
}

#contact #email {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    grid-gap: 0;
}

@media screen and (min-width:200px) {
    #courses {
        grid-template-columns: 1fr;
    }
    #about {
        grid-template-columns: 1fr;
    }
    #contact {
        grid-template-columns: 1fr;
    }
    .feedgrid {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width:700px) {
    #courses {
        grid-template-columns: 1fr 1fr;
    }
    #about {
        grid-template-columns: 1fr 1fr;
    }
    #contact {
        grid-template-columns: 1fr 1fr;
    }
    .feedgrid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:1000px) {
    #courses {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #contact {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 950px){
   .img{
       flex-direction: column;
   }
   .image-container{
       width: 100%;
   }
   .heading-container{
       width: 100%;
   }
   .image-container img{
       width: 100px;
       height: 100px;
   }
}
@media (max-width: 727px)
{   .course-split{
       flex-direction: column;
     }
    #card{
        width: 100%;
        margin-bottom: 1em;
    }
    .image-container img{
        width: 30%;
        height: 30%;
    }
}
#card p {
    padding: 4% 7%;
}

#about {
    padding: 5% 5%;
    background-color: #B088F9;
    display: grid;
    grid-gap: 18px;
    color: white;
}

#about img {
    width: 100%;
}

.img img {
    float: left;
    padding: 4% 10%;
}

nav ul li:hover {
    font-size: larger;
    color: rgb(0, 0, 0);
}

#card:hover {
    border-radius: 0px 30px;
    background-color: #DA9FF9;
    animation-name: bounce;
    animation-duration: 0.06s;
}

.icon:hover {
    color: black;
}

#person {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    display: inline;
}

#feedback {
    padding: 2% 4%;
    display: flex;
}

/* .feedbackpara {} */

.copyright {
    background-color: #B088F9;
    font-size: 15px;
    text-align: center;
    color: white;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    border-radius: 3%;
    border: 0px;
}

.link{
    text-decoration: none;
    color: #ffffff;
}
.link:hover{
    color: #ffffff;
}

.icon{
    margin:0 1rem;
}
.network{
    margin-left: 1em;
}